<!DOCTYPE html>
<html ng-app>
<head><% include with/head.ejs %></head>
<body> 
<div class="container">

    <div id="footer"><% include with/footer.ejs %></div>
    <!-- footer has scripts to cdn -->

</div> <!-- .container -->
</body> 
</html>
