<!DOCTYPE html>
<html ng-app = "myApp">
<head><% include partials/head.ejs %></head>
<body> 
<div class="container" ng-controller="AppCtrl">

    <h1>AngulAir</h1>
    <ul ng-repeat="airport in airports">
        <li>{{airport.code}}</li>
        <li>{{airport.city}}</li>
        <li>{{airport.name}}</li>
    </ul>


    <!-- footer has scripts to cdn -->
    <div id="footer"><% include partials/footer.ejs %></div>


</div> 
<!-- end .container -->

</body> 
</html>
